@using BioConnected.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LoginPartial.cshtml";
}

<div class="logo">
    <img src="~/Content/Theme/Images/Logo.png" alt="" width="350" />
</div>
<div class="content outer">
    @if (ViewBag.Success != null)
            {
        <div class="alert alert-success">
            <strong>Success!</strong> @ViewBag.Success
        </div>
    }
    @if (ViewBag.Error != null)
            {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.Error
        </div>
    }
    @if (ViewBag.Warning != null)
            {
        <div class="alert alert-warning">
            <strong>Warning!</strong> @ViewBag.Warning
        </div>
    }
    <div class="content-inner">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <h3 class="form-title">Login to your account</h3>

            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">Password</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-solid placeholder-no-fix", placeholder = "Password" })
                </div>
            </div>
            @Html.HiddenFor(model => model.ReturnUrl)

            <div class="form-actions">
                <button type="submit" class="btn pull-right mid-color login-btn">Login <i class="fa fa-arrow-circle-o-right"></i></button>
                <div class="clearfix"></div>
            </div>

            <div class="form-forgot-password">
                <h4 class="form-title">Forgot your password?</h4>
                <label>No worries, <a href="ForgotPassword">click here</a> to reset your password.</label>

            </div>
        }
    </div>
</div>

<div class="content create-account">
    <h4 class="form-title">Create a coach account</h4>
    <label>Are you interested in using BioConnected as a fitness coach?</label>

    <div class="form-actions">
        <a href="CreateAccount" class="btn pull-left mid-color login-btn">Create Coach Account <i class="fa fa-plus-circle"></i></a>
        <div class="clearfix"></div>
    </div>

    <div class="form-forgot-password">
        <h4 class="form-title">Already using the BioConnected app?</h4>
        <label><a href="UpgradeAccount">Click here</a> to upgrade your account.</label>

    </div>
</div>
