@model Shared.Model.User
@using Shared.Models;

<div class="user-overview">
    <div class="col-lg-3 col-md-6 col-xs-12 pull-left user-details">
        <div class="user-image">
            <img src="@(string.IsNullOrWhiteSpace(Model.Pic) ? "/Content/assets/NoUserImage.png" : "data:image/png;base64," + Model.Pic)" />
            <i class="fa fa-upload"></i>
        </div>

        <div class="image-actions">
            @if (string.IsNullOrWhiteSpace(Model.Pic))
            {
                <p class="help-block pull-left">No User Image Set</p>
            }

            <input type="file" id="upload-user-image" accept=".jpg,.png,.gif" style="display: none;" />
            <label class="btn add-button pull-right" for="upload-user-image">Upload Image</label>
            <div class="clearfix"></div>
        </div>
    </div>

    @if (((UserPermissions)ViewData["Permissions"]).MatchesPermission(UserPermissions.COACH))
    {
        <div class="col-lg-3 col-md-6 col-xs-12 pull-right coach-list">
            <h3 class="title">Attached Users</h3>
            <ul>
                <li class="empty">
                    <span class="pull-left">@Model.UserAssigns.Count()</span>
                    <div class="clearfix"></div>
                </li>
            </ul>
        </div>
    }

    <div class="col-lg-6 col-md-12 col-xs-12">
        <form method="post" class="form edit-helper-form user-details-form" action="" id="cms-form">
            @Html.HiddenFor(model => model.Id, new { @class = "coach-id" })
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text" disabled class="form-control" name="FirstName" value="@Model.FirstName" required />
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <input type="text" disabled class="form-control" name="LastName" value="@Model.LastName" required />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" disabled class="form-control" name="Email" value="@Model.Email" required />
            </div>
            <div class="form-group">
                <label class="control-label">Title</label>
                <input type="text" disabled class="form-control" name="Title" value="@Model.Title" />
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <textarea type="text" disabled class="form-control" name="Description" value="@Model.Description">@Model.Description</textarea>
            </div>

            <div class="save-actions pull-left" style="display:none;">
                <button type="button" class="btn add-button save">Save Changes</button>
                <button type="button" class="btn default cancel">Cancel</button>
                <img src="/Content/Theme/Images/loading-spinner-grey.gif" alt="" class="loading" style="display: none;">
            </div>

            <button type="button" class="pull-left btn add-button edit-button">Edit Profile</button>
        </form>
    </div>
</div>


<script type="text/javascript">

    var dtOrder = [[1, 'asc']];
    var SaferMeDTCols = [
        {
            'data': 'checks',
            'searchable': false,
            'orderable': false,
            'className': 'dt-body-center',
            'width': 30
        },
        {
            "data": "FirstName",
            "name": "First Name",
            "responsivePriority": 0,
            "searchable": false,
        },
        {
            "data": "LastName",
            "name": "Last Name",
            "responsivePriority": 0,
        },
        {
            "data": "Email",
            "name": "Email",
            "responsivePriority": 0,
            "searchable": false,
        },
        {
            "data": "Gender",
            "name": "Gender",
            "searchable": false,
        },
        {
            "data": "DOB",
            "name": "Date of Birth",
            "searchable": false,
        },
        {
            "data": "LastActivityDate",
            "name": "Last Activity Done",
            "searchable": false,
        },
        {
            "data": "Actions",
            "orderable": false,
            "searchable": false,
        },
    ];
</script>